{% extends "logolayout.html" %}
{% block content %}

<!DOCTYPE html>
<html>

   <head>
      <title>ABOUT</title>
   </head>
   <div class="titleTNR"><p>About</p></div>

   <body>
         &nbsp; Creado por la Compañia PointDev, cuyos fundadores son Annamary W. Cartagena y Luis G. Sierra, esta pagina fue creada con karate en mente. <br>
          Esto es asi porque es un problema común de no tener una buena organizacion al principio de un torneo <br>
         
          <img src=/static/images/AnnaLuis.jpg alt="LuisS" style="width:250px;height:200px;" style= "filter:FlipV">

         

          <br>
          Esto es un proyecto para la clase de COMP4018: Databases con Alcibiades Bustillo en la Universidad de Puerto Rico, Mayaguez Campus.

          <br>
          <img src=/static/images/rum.png alt="rum" style="width:300px;height:300px;" style="display: block" style="margin-left: auto" style="margin-right: auto">
         
      </body>


</html>
{% endblock %}