

{% extends "logolayout.html" %}
{% block content %}
<title>Registrar participante</title>

<form method="POST" action="">
    Nombre <input type="text" name="nombre" />
    <br>
    Primer apellido <input type="text" name="apellido1"/>
    <br>
    Segundo apellido <input type="text" name="apellido2"/>
    <br>
    Cinta <input type="text" name="cinta"/>
    <br>
    Edad <input type="text" name="edad"/>
    <br>
      Escuela <input list="escuelas" type="text" name="escuela"/>
      <datalist id="escuelas" type= "text">
          {% for escuela in escuelaDetails %}
          <option value={{escuela[0]}}></option>
          {% endfor %}
        </datalist>
    <br>
      Codigo de participacion  <input list= "codigos" type="text" name="codigoParticipacion"/>
      <datalist id="codigos" type= "text">
        {% for codigo in codigoDetails %}
        <option value={{codigo[0]}}></option>
         {% endfor %}
      </datalist>
    <br>
    <button class="button">Someter </button>
</form>




     


    <form action="https://organizador-torneos-flask.herokuapp.com/home">
        <button class="button">Regresar a home </button>
     </form>

{% endblock %}

