

<style>
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: auto;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>

<!-- ==================================================================== -->






{% extends "logolayout.html" %}
{% block content %}
<title>Registrar participante</title>

<form method="POST" action="">
    Nombre <input type="text" name="nombre" />
    <br>
    Primer apellido <input type="text" name="apellido1"/>
    <br>
    Segundo apellido <input type="text" name="apellido2"/>
    <br>
    Cinta <input type="text" name="cinta"/>
    <br>
    Edad <input type="text" name="edad"/>
    <br>
    Escuela <input type="text" name="escuela"/>
    <br>
    Codigo de participacion <input type="text" name="codigoParticipacion"/>
    <br>
    <button class="button">Someter </button>
</form>




<!-- TEST1
<div class="dropdown">
        Codigo de participacion  <input type="text" name="codigoParticipacion"/>
        {% for codigo in codigoDetails %}
        <div class="dropdown-content">
          <tr>
            <td> {{codigo[0]}} </td>
          </tr>
        </div>
        {% endfor %}
      </div> 
       -->




<!-- TEST 2
Codigo de participacion 2 <input list= "hosting-plan" type="text" name="codigoParticipacion"/>
{% for codigo in codigoDetails %}
<datalist id="hosting-plan" type= "text">
  <tr>
    <td>
      <option value="{{codigo[0]}}"/>
    </td>
  </tr>
  
</datalist>
{% endfor %} -->


<!--       TEST 2 ORIGNAL
Codigo de participacion  <input list= "hosting-plan" type="text" name="codigoParticipacion"/>
{% for codigo in codigoDetails %}
<datalist id="hosting-plan" type= "text">
  <option value="small"/>
  <option value="medium"></option>
  <option value="large"></option>
</datalist>
{% endfor %} -->





<!--  ANOTHER TEST 

<select name = "codigoParticipacion">
  <?php 
  $conn = new mysqli('fnx6frzmhxw45qcb.cbetxkdyhwsb.us-east-1.rds.amazonaws.com', 'ophmvxggd70qi4hx', 'lxv5byb85vydqsnu', 's80s1c8qqx6rqp2o') 

    $sql = mysqli_query($connection, "SELECT codigo_participacion FROM codigoParticipacion") or die(mysql_error());  
    while ($rows = $sql->fetch_assoc())
    {
      <option value="codigoParticipacion1"><?php echo $row['codigo_participacion']; ?> Codigo PArticipacion 3</option>
    }
  ?>
</select> -->








<?php
  $hostname = "localhost";
  $dbname = "flaskaspp";
  $username = "root";
  $password = "";

  $conn = mysqli_connect("$hostname","$username","$password","$dbname");
  
  if(mysqli_connect_errno()){
    echo "Connection Failed :".mysqli_connect_error();
  }

  $query= mysqli_query($conn, "SELECT * FROM codigoParticipacion")
  echo "<input type= 'search' list = 'dtlist'/>";
  echo "<datalist id = 'dtlist'>";
    while($row = mysqli_fetch_array($query)){
      echo "<option>$row[codigo_participacion]</option>";
    }
  echo "</datalist>";
  mysqli_close($conn);
?>





    <form action="https://organizador-torneos-flask.herokuapp.com/home">
        <button class="button">Regresar a home </button>
     </form>

{% endblock %}

