
<title>Registrar participante</title>
<style>
    body{
     background-color: #e5eb93;  
    }body
</style>

<form method="POST" action="">
    nombre <input type="text" name="nombre" />
    <br>
    apellido1 <input type="text" name="apellido1"/>
    <br>
    apellido2 <input type="text" name="apellido2"/>
    <br>
    cinta <input type="text" name="cinta"/>
    <br>
    edad <input type="text" name="edad"/>
    <br>
    escuela <input type="text" name="escuela"/>
    <br>
    codigoParticipacion <input type="text" name="codigoParticipacion"/>
    <br>
    <input type="submit"/>
</form>

<form action="https://organizador-torneos-flask.herokuapp.com/home">
    <input type="submit" value="Regresar a home" />
</form>