
<title>Lista de Participantes</title>
<table border = 1>
    {% for escuela in escuelaDetails %}
    <tr>
        <td> {{escuela[0]}} </td>
        <td> {{escuela[1]}} </td>
        <td> {{escuela[2]}} </td>
        <td> {{escuela[3]}} </td>
    </tr>
    {% endfor %}
</table>


<form action="https://organizador-torneos-flask.herokuapp.com/crearEscuela">
    <input type="submit" value="Registrar otra escuela" />
</form>

<form action="https://organizador-torneos-flask.herokuapp.com/home">
    <input type="submit" value="Regresar a home" />
</form>