{% extends "logolayout.html" %}
{% block content %}
<title>Lista de Participantes</title>
<h1>Lista de participantes</h1>

<table border = 1>

    <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Primer Apellido</td>
        <td>Segundo Apellido</td>
        <td>Cinta</td>
        <td>Edad</td>
        <td>Escuela</td>
        <td>Codigo Participacion</td>
        <td>Editar</td>
        <td>Eliminar</td>
    </tr>

    {% for estudiante in estudianteDetails %}
    <tr>
        <td> {{estudiante[0]}} </td>
        <td> {{estudiante[1]}} </td>
        <td> {{estudiante[2]}} </td>
        <td> {{estudiante[3]}} </td>
        <td> {{estudiante[4]}} </td>
        <td> {{estudiante[5]}} </td>
        <td> {{estudiante[6]}} </td>
        <td> {{estudiante[7]}} </td>
        <td> <a class= "a2" href="https://organizador-torneos-flask.herokuapp.com/codigoParticipacion">{{estudiante[7]}}</a> </td>
        <td><form action="">
            <button class="button">Editar </button>
        </form></td>
        <td><form action="">
            <button class="button">Eliminar </button>
        </form></td>
    </tr>
    {% endfor %}
</table>


<form action="https://organizador-torneos-flask.herokuapp.com/crearEstudiante">
    <button class="button">Registrar otro estudiante </button>
 </form>

 <form action="https://organizador-torneos-flask.herokuapp.com/queryDeleteAllEstudiante">
    <button class="button">Eliminar todos los estudiantes </button>
 </form>


<form action="https://organizador-torneos-flask.herokuapp.com/home">
    <button class="button">Regresar a home </button>
</form>

{% endblock %}


