{% extends "logolayout.html" %}
{% block content %}
<title>Lista de Participantes</title>
<h1>Lista de participantes</h1>
<table border = 1>
    {% for estudiante in estudianteDetails %}
    <tr>
        <td> {{estudiante[0]}} </td>
        <td> {{estudiante[1]}} </td>
        <td> {{estudiante[2]}} </td>
        <td> {{estudiante[3]}} </td>
        <td> {{estudiante[4]}} </td>
        <td> {{estudiante[5]}} </td>
        <td> {{estudiante[6]}} </td>
        <td> {{estudiante[7]}} </td>
    </tr>
    {% endfor %}
</table>

<form method="POST" action="">
    ID de estudiante a eliminar: <input type="text" name="ID" />

<form action="https://organizador-torneos-flask.herokuapp.com/estudiantes">
    <button class="button">Cancelar eliminacion </button>
 </form>

 <form action="https://organizador-torneos-flask.herokuapp.com/queryDeleteIDestudiante">
    <button class="button">Eliminar estudiante </button>
 </form>

<form action="https://organizador-torneos-flask.herokuapp.com/home">
    <button class="button">Regresar a home </button>
</form>

{% endblock %}


