{% extends "logolayout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      <title>HOME</title>
   </head>
   <form action="https://organizador-torneos-flask.herokuapp.com/crearEscuela">
      <input type="submit" value="Registrar escuela" />
  </form>

   <form action="https://organizador-torneos-flask.herokuapp.com/crearEstudiante">
      <input type="submit" value="Registrar estudiante" />
  </form>

  <form action="https://organizador-torneos-flask.herokuapp.com/escuelas">
   <input type="submit" value="Ver escuelas registradas" />
</form>
<form action="https://organizador-torneos-flask.herokuapp.com/estudiantes">
   <input type="submit" value="Ver estudiantes registrados" />
</form>


</html>
</html>
{% endblock %}
