<a href="http://127.0.0.1:5000/home">
    <img src="https://imgur.com/aZHqZNJ" alt="Kenpo Logo" style="width:500px;height:600px;">
</a>


<div class="topnav">
    <a class="active" href="http://127.0.0.1:5000/home">Home</a>
    <a href="http://127.0.0.1:5000/crearEstudiante">Crear Estudiantes</a>
    <a href="http://127.0.0.1:5000/estudiantes">Ver Estudiantes</a>
    <a href="http://127.0.0.1:5000/crearEscuela">Crear Escuelas</a>
    <a href="http://127.0.0.1:5000/escuelas">Ver Escuelas</a>
    <a href="http://127.0.0.1:5000/codigoParticipacion">Ver codigos de participacion</a>
    <a href="http://127.0.0.1:5000/about">About</a>
  </div> 