<html>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}">

    <head>
        <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <a href="https://organizador-torneos-flask.herokuapp.com/home">
        <img src=/static/images/kenpologo.png alt="Kenpo Logo" style="width:100px;height:100px;">
    </a>
    <div class="menu">
        <a class="active" href="https://organizador-torneos-flask.herokuapp.com/home">Home</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/crearEstudiante">Crear Estudiantes</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/estudiantes">Ver Estudiantes</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/crearEscuela">Crear Escuelas</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/escuelas">Ver Escuelas</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/codigoParticipacion">Ver codigos de participacion</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/about">About</a>
        <a href="https://organizador-torneos-flask.herokuapp.com/logout">Logout</a>
    </div> 

    <div class="container">
            <style>
                    body{
                    background-color: #cbe5fd;  
                    }body
            </style>
        {%include 'includes/_messages.html'%}
        {% block content %}
        {% endblock %}
    </div>

</html>
